# Build system
_build/
_deps/
_dist/

# Objects
*.o
*.lo
*.slo
*.res
*.obj
*.pch
*.gch

# Libraries
*.a
*.la
*.lai
*.lib
*.dll
*.so
*.so.*
*.dylib

# Binaries
*.exe
*.app

# Autotools
*.gcno
*.gcda
*.gcov
Makefile.in
autom4te.cache
*.am
*.ac
*.m4
*.po
*.gmo
*.at
*.texi
*.pc
compile
configure
depcomp
install-sh
missing

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt

# Visual Studio
*.sln.*
*.ncb
*.user
*.ilk
*.pdb
*.idb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.aps
*.opensdf
*.sdf
*.psess
*.vsp
*.vspx
*.vspscc
*.vssscc
*.Resources
*.Cache
*.gpState
_ReSharper*
*.ncrunch*
.*crunch*.local.xml
csx
*.build.csdef
*.dbmdl
.builds
*.scc
ipch/
AppPackages/
_UpgradeReport_Files/
BuildLog.htm
UpgradeLog*.XML

# Qt
*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp

# Redistribution
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.apk
*.ap_
*.tar
*.tar.*
*.zip
*.7z
*.gz
*.bz2
*.xz
*.rar
*.cab
*.msi

# Windows
*.db
Desktop.ini
$RECYCLE.BIN/

# Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes

# Linux
.~*